<div class="fondo">
    <div class="container">
        <div class="card">
            <h2>You can contact with me through</h2>

            <p><a href="https://www.linkedin.com/in/pere-planells-perez/"><img
                        src="https://cdn-icons-png.freepik.com/512/3665/3665172.png" alt="" width="24" height="24"></a>
                Linkedin: Pere Planells Perez</p>
            <p>📞 Phone: +34 647 82 36 29</p>
            <p>📧 Email: pereplanellsp&#64;gmail.com</p>
        </div>
    </div>
</div>