<div class="fondo">
  <div class="container ">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img
            src="https://assets-global.website-files.com/637e4789a8e22009b5d4ba6a/638a507ed9557e2d350c7d04_icon-grey.png"
            alt="" width="30" height="24">
        </a>
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/experience']">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/studies']">Studies & Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/projects']">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>