@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Radio Canada Big", sans-serif;
    color: white;
}

.fondo {
    background-color: rgb(37, 36, 64);
    border-bottom: 2px black solid;

}